<div class = "center_block" id = "welcome_block">
	<h2>Welcome to TrackHunter!</h2>
	<p>We're glad you decided to visit. Here's how the app works: suppose you're in your favorite coffee shop downtown and hear a song you really like. You want to find out the name of the song and let the shop owner know how much you like it. Your browser gives your GPS coordinates to the application, which then matches that location with the geocoded addresses of merchants in the immediate vicinity using online music services. You choose which store you're in, and rate the song. That rating then goes back to the merchant, who uses it to play more songs that their users like.</p>
	<p>We've tapped into the Google Maps API but have yet to tap into either Spotify's ruby gem or the Last.fm API. Hopefully that'll be soon to come. For now, to test out the program. Create an account, checking off the "merchant option" in the form so that you can create a store at your current address and assign it a song. Then, go to the link for a new rating, allow the browser to get your location, and let the program do its work.</p>
	<p>We're still working on getting all the nuts and bolts together, so thanks for checking the app out anyway. Thanks for stopping by!</p>
	<br>
	<br>
	<br>
	<%= link_to 'Login to Service', accounts_login_path, :class => "box-button", :id => "single-in-box"%>
	<br>
	<br>
	<br>
	<h5><%= notice %></h5>
</div>