<div class = "center_block" id="form_holder">
	<h3>First, let's figure out where you are.</h3>  
	<p>To get a song, access your GPS location below, and then move on to pick your store.</p>
	<div class="mini-box-button" id="getGeo">Get Location</div>
	<div id = "storeLink">
		<%= form_for @listener, :url => { :action => 'update'} do |f| %>
			<%= f.hidden_field(:lng) %>
			<%= f.hidden_field(:lat) %>
			<div align = "center">
				<%= submit_tag "Choose Store", :class => 'mini-box-button', :name => 'location'%>
			</div>
		<%end%>
	</div>
</div>
