<h3><em><%= "Welcome to TrackHunter " + @current_user.username%></em></h3>  

<%= link_to t('.choose_store', :default => t("helpers.links.choose_store")),
              user_merchant_selection_path, :class => 'btn'  %>

