// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#like {
	background-color: #666600;
	color: white;
	position: absolute;
	left: 0px;
	height: 70px;
	width: 160px;

}
#dislike {
	background-color: #660000;
	color: white;
	position: absolute;
	left: 220px;
	height: 70px;
	width: 160px;

}

#rating-buttons{
	position: relative;
	left: 20%;
	top: -20px;
}
