// Place all the styles related to the ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#like {
	background-color: #666600;
	color: white;
	position: absolute;
	left: 0px;
}
#dislike {
	background-color: #660000;
	color: white;
	position: absolute;
	left: 220px;
}
