body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  text-align: center;
  font-weight: bold;
  border: 1px green solid;
}
p #notice {
  color: green;
  text-align: center;
  font-weight: bold;
  border: 1px green solid;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.center_block {
  padding: 0px;
  position: absolute;
  left: 120px;
  top: 80px;
  border: 8px #32385a dashed;
  border-radius: 20px;
}
#welcome_block {
  width: 60%;
}
#welcome_block p {
  text-align: justify;
}
#form_holder{
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  float: top;
  height: auto;
}

.center_block #form_holder{
  position: relative;
  left: 10%;
}

#link_holder{
  position: absolute;

  margin-left: 15%;
  margin-bottom: 30px;
  margin-top: 20px;
}
.center_block p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 100%;
  width: 60%;
}
#storeLink p {
  text-align: center;
  margin-top: 28px;
  margin-left: 15px;
  margin-bottom: -15px;
}
#index_holder{
  width: 80%;
  height: auto;
  padding: 10px;
}

.box-button {
  font-family: 'Medula One';
  font-size: 5em;
  line-height: 80%;
  text-align: center;
  vertical-align: middle;
  border: 5px solid black;
  border-radius: 5px;
  &:hover{
    cursor: hand;
    cursor: pointer;
  }
}
#single-in-box {
  margin-bottom: 25px;
  margin-top: 25px;
  horizontal-align: middle;
  position: absolute;
  left: 40%;
  top: 80%;
  height: .85em;
  bottom: 15px;
  padding: 2px;
  font-size: 2.5em;
}

#form-button {
  position: absolute;
  width: 30%;
  left: 35%;
  height: auto;
  font-size: 2em;
  &:hover{
    background-color: black;
    color: white;
  }
} 
.mini-box-button {
  font-family: 'Medula One';
  font-size: 2em;
  height: auto;
  background-color: white;
  color: black;
  text-decoration: none;
  line-height: 80%;
  text-align: center;
  vertical-align: middle;
  border: 5px solid black;
  border-radius: 5px;
  &:hover{
    cursor: hand;
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
.center_block dl {
  position: relative;
  left: -20%;
}
a.mini-box-button{
  text-decoration: none;
  color: black
}
h2{
  text-align: center;
  margin-left: 0px;
  font-family: "PT Sans";
  font-size: 36px;
  line-height: 100%;
}
h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans";
  font-size: 22px;
  line-height: 100%;
}
h4 {
  margin-left: 4px;
  line-height: 70%;
  font-family: Arial;
}
h5 {
  font-family: "PT Sans";
  font-size: 16px;
  color: green;
  font-weight: bold;
  text-align: center;
}

form{
  margin: 20px;
  margin-bottom: 50px;
}
form label {
  font-size: 20px;
  font-family: "PT Sans";
}

.control-group{
  position: relative;
  left: -25%
}
.button-holder{
  height: 1em;
  margin-bottom: 10%;
}