#rating_link{
	text-decoration: none;
	font-size: 3.5em;
	margin-left: 40px;
	margin-bottom: 10px;
}
#getGeo{
	width: 60%;
	font-size: 2em;
	margin-left: 20%;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #A33032;
	color: black;
	&:hover{
		color: white;
	}
}
#storeLink{
	position: relative;
	top: -20px;
	height: 10%;
}
#storeLink #form-button {
	width: 62.5%;
	margin-left: -15%;
	background-color: #A33032;
	color: black;
	&:hover{
		color: white;
	}
}
#storeLink form {
	margin-top: 5px;
}

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
